.lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  border: 1pt solid var(--black);
}

.table-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 40%;
  margin-bottom: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.delete-btn {
  background-color: rgb(235, 191, 166);
}

.delete-btn button {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 0);
}

tr {
  background-color: #dfdfdf;
}

th {
  background-color: #f2f2f2;
  color: #444;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
}
